<div class="row">
  <div class="col-md-6 col-xs-12 orgs">
    <h2>Legislation Database Stats</h2>
    <!-- <div class="bills-count">
      <h4>Total Items: {{updateLeg.all.length}}
      <h3>Number of Items by Session</h3>
      <div class="sessions" ng-repeat="session in updateLeg.sessions | orderBy:'Id'">
        <div class="session-data">
          Council Period {{session.Id}}
          <span class="sessionyears">({{session.StartDate | date:"YYYY"}}-{{session.EndDate | date:"YYYY"}})</span>:
          {{updateLeg.all.length | filter:CouncilPeriod==session.Id}}
        </div>
      </div>
    </div> -->
    <div>
      <button type="button" class="btn btn-lg btn-danger" ng-click="updateLeg.updateOld">Update Bills from Previous Sessions</button>
    </div>
    <div>
      <button type="button" class="btn btn-lg btn-danger" ng-click="updateLeg.updateCurrent">Update Bills from Current Session</button>
    </div>
    <!-- <update-progress></update-progress> -->
  </div>

  <div class="col-md-6 col-xs-12 news">
    <h2>Another Section Here</h2>
    <div class="news-count">
    </div>
  </div>
</div>
